html {
    height: 100%;
}

body {
    text-align: center;
    
}

.myPic1{
    width: 500px;
    height: 500px;
    left: -600px;
}

.myStyle1{
    width: 600px;
    height: 0px;
    color: black;
    font-size: 36px;
    text-align: left;
}

h1.marginH1{
    color:rgb(255, 255, 255);
    font-weight: 125%;
    margin-bottom: 0px;
    padding-top: 45px;
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
}

h2.marginH2{
    color:rgb(255, 253, 253);
    padding-top: 15px;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

h3.h3Style{
    color:rgb(249, 248, 248);
    font-size: 24px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: normal;
    margin: 0px;
    font-family: Luminari, fantasy;
}

div.marginPic{
    margin-bottom: 30px;
}

.bg-blue {
    min-width: 850px;
    text-align: center;
    background: linear-gradient(#ee82ee, #ff0000, #8b0000);
    background-size: 400% 400%;
}